---
title: October 4, 2011
---

%section

  %h2 Round 1

  %ol
    %li.question
      In 1927, who was named <i>Time</i> magazine’s first Man of the Year?
      .answer Charles Lindbergh
    %li.question
      Wisconsin, Massachusetts, and New Jersey are the top three US producers of what fruit?
      .answer Cranberries
    %li.question
      Name the three types of swords used in Olympic fencing.
      .answer
        %ul
          %li Foil
          %li Sabre
          %li Épée
    %li.question
      This Asian disputed territory claimed in part by Pakistan, India, and China shares its name with a 1975 Led Zeppelin song.
      .answer Kashmir
    %li.question
      Who holds the record for most Grammy Awards won by a female artist in one night?
      .answer
        Beyoncé
        %small (won 6 in 2010)
    %li.question
      This restaurant chain had over 1,000 locations in the 1970s, but today only the Lake George, Lake Placid, and Bangor, Maine restaurants remain.
      .answer Howard Johnson’s

%section

  %h2 Round 2

  %ol
    %li.question
      What is the one-word Latin motto of the state of New York?
      .answer
        %i Excelsior
    %li.question
      Iran produces over 90 percent of the world’s supply of this, the most expensive spice in the world.
      .answer Saffron
    %li.question
      What was the name of Captain Ahab’s whaling ship in the novel <i>Moby Dick</i>?
      .answer The <i>Pequod</i>
    %li.question
      In 1914, Archduke Franz Ferdinand of Austria was assassinated in this city, which hosted the Winter Olympics 70 years later.
      .answer Sarajevo
    %li.question
      What is the longest suspension bridge in the United States, as measured by central span?
      .answer Verrazano Narrows Bridge
    %li.question
      Name the five Space Shuttle orbiters that have been sent into space.
      .answer
        %ul
          %li
            %i Columbia
          %li
            %i Challenger
          %li
            %i Discovery
          %li
            %i Atlantis
          %li
            %i Endeavour

%section

  %h2 Round 3

  %p
    Listed below are the birth names of some famous people. Fill in the names by which they are better known. For example…

  %ul
    %li Samuel Langhorne Clemens → <strong>Mark Twain</strong>
    %li Cassius Marcellus Clay, Jr. → <strong>Muhammad Ali</strong>
    %li Stephanie Germanotta → <strong>Lady Gaga</strong>

  %ol
    %li.question
      Eric Arthur Blair
      .answer George Orwell
    %li.question
      Dino Paul Crocetti
      .answer Dean Martin
    %li.question
      Joseph Levitch
      .answer Jerry Lewis
    %li.question
      Charles Lutwidge Dodgson
      .answer Lewis Carroll
    %li.question
      Richard Starkey
      .answer Ringo Starr
    %li.question
      Maurice Joseph Micklewhite
      .answer Michael Caine
    %li.question
      André Romelle Young
      .answer Dr. Dre
    %li.question
      Reginald Kenneth Dwight
      .answer Elton John
    %li.question
      Marion Robert Morrison
      .answer John Wayne
    %li.question
      Laurence Tureaud
      .answer Mr. T
    %li.question
      Jacob Gershowitz
      .answer George Gershwin
    %li.question
      Charles Dennis Buchinsky
      .answer Charles Bronson
    %li.question
      Truman Streckfus Persons
      .answer Truman Capote
    %li.question
      Archibald Alexander Leach
      .answer Cary Grant
    %li.question
      Farrokh Bulsara
      .answer Freddie Mercury

%section

  %h2 Round 4

  %ol
    %li.question
      What is the only U.S. city whose pro football, baseball, and hockey teams all share the same team colors?
      .answer
        Pittsburgh
        %small (black and gold)
    %li.question
      Give the amendment number to the U.S. Constitution that established Prohibition, as well as the one that ended it.
      .answer
        %ul
          %li 18th
          %li 21st
    %li.question
      This fruit, also known as the Chinese gooseberry, was given a catchier name for marketing purposes in the mid-20th century.
      .answer Kiwi
    %li.question
      The English word “geyser” is derived from what foreign language?
      .answer
        Icelandic
        %small (Old Norse also acceptable as earlier root)
    %li.question
      Name the two types of creatures supporting the central shield in the royal coat of arms of the United Kingdom.
      .answer
        %ul
          %li Lion
          %li Unicorn
    %li.question
      This 17th-century French mathematician and philosopher has a triangle, a wager, and a unit of pressure named after him.
      .answer Blaise Pascal

%section

  %h2 Round 5

  %ol
    %li.question
      In 1875, the first recorded indoor ice hockey game was played in what city?
      .answer Montreal
    %li.question
      What pizza chain was ranked the fifth-largest in the US when it filed for Chapter 11 bankruptcy in April 2011?
      .answer Sbarro
    %li.question
      This four-letter word can refer to a measurement of one-sixth of an inch, or an urge to eat non-food materials like clay, chalk, or dirt.
      .answer Pica
    %li.question
      What form of pasta, translated literally from the Italian, is named “little pies”?
      .answer Tortellini
    %li.question
      Name the smallest and largest U.S. state capitals by population.
      .answer
        %ul
          %li Montpelier, VT
          %li Phoenix, AZ
    %li.question
      Prior to decimalization of British currency in 1971, how many pence made up a pound?
      .answer
        240
        %small (12 pence per shilling × 20 shillings per pound)

%section

  %h2
    Final question
    %small (Category: <em>Travel</em>)

  .question
    What airline, which ceased operations in 1991, was the first to run passenger flights on the Boeing 747?
    .answer
      Pan American World Airways
      %small (a.k.a. Pan Am)
