---
title: September 18, 2012
---

%section

  %h2 Round 1

  %ol
    %li.question
      What country has the highest per-capita beer consumption rate in the world?
      .answer Czech Republic
    %li.question
      What two U.S. states contain the endpoints of the Appalachian Trail?
      .answer
        %ul
          %li Georgia
          %li Maine
    %li.question
      What Shakespeare play features cannibalism as a plot point?
      .answer
        %i Titus Andronicus
    %li.question
      What Swiss artist won an Academy Award for his visual effects work on the film <i>Alien</i>?
      .answer H.R. Giger
    %li.question
      What is the name of the World War II destroyer escort moored on the Hudson River in Albany?
      .answer USS <i>Slater</i>
    %li.question
      What rock band’s name comes from a World War II era term for UFOs?
      .answer
        Foo Fighters

%section

  %h2 Round 2

  %ol
    %li.question
      What airport was known as Orchard Field until 1949?
      .answer
        Chicago O’Hare
        %small (hence the abbreviation ORD)
    %li.question
      What current Major League Baseball stadium has the highest seating capacity?
      .answer Dodger Stadium
    %li.question
      What are the six different army colors in the board game Risk?
      .answer
        %ul
          %li Red
          %li Yellow
          %li Green
          %li Blue
          %li Pink
          %li Black
    %li.question
      Among this classical composer’s 106 symphonies are ones nicknamed <i>Surprise</i>, <i>Farewell</i>, <i>Drumroll</i>, and <i>London</i>.
      .answer Franz Joseph Haydn
    %li.question
      What company’s mascot is officially named “Bibendum”?
      .answer Michelin
    %li.question
      What southeast Asian nation of over 150 million people is the most populous country in the world never to have won an Olympic medal?
      .answer Bangladesh

%section

  %h2 Round 3

  %p
    Name the states whose license plates feature (or used to feature) these slogans. For example…

  %ul
    %li Empire State → <strong>New York</strong>
    %li America’s Dairyland → <strong>Wisconsin</strong>
    %li Live Free or Die → <strong>New Hampshire</strong>

  %ol
    %li.question
      The Natural State
      .answer Arkansas
    %li.question
      Unbridled Spirit
      .answer Kentucky
    %li.question
      Great Faces, Great Places
      .answer South Dakota
    %li.question
      The Last Frontier
      .answer Alaska
    %li.question
      First in Flight
      .answer North Carolina
    %li.question
      Birthplace of Aviation
      .answer Ohio
    %li.question
      Sportsman’s Paradise
      .answer Louisiana
    %li.question
      Vacationland
      .answer Maine
    %li.question
      Treasure State
      .answer Montana
    %li.question
      Native America
      .answer Oklahoma
    %li.question
      Life Elevated
      .answer Utah
    %li.question
      The Spirit of America
      .answer Massachusetts
    %li.question
      Wild, Wonderful
      .answer West Virginia
    %li.question
      Land of Enchantment
      .answer New Mexico
    %li.question
      Ocean State
      .answer Rhode Island

%section

  %h2 Round 4

  %ol
    %li.question
      Each face of a regular dodecahedron has how many sides?
      .answer 5
    %li.question
      In 1906, President Theodore Roosevelt designated this natural rock formation in northeastern Wyoming as the first U.S. national monument.
      .answer Devils Tower
    %li.question
      What is the original name of “Mr. Monopoly,” the mascot of the <i>Monopoly</i> board game?
      .answer
        Rich “Uncle” Pennybags
        %small or
        Milburn Pennybags
    %li.question
      In 1982, who set a record that still stands as the youngest-ever host of <i>Saturday Night Live</i>?
      .answer Drew Barrymore
    %li.question
      What is the only warship in current service in the U.S. Navy named for a foreign citizen?
      .answer USS <i>Winston Churchill</i>
    %li.question
      Name the three movies directed by Stanley Kubrick which received Best Picture Oscar nominations.
      .answer
        %ul
          %li
            %i Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
          %li
            %i A Clockwork Orange
          %li
            %i Barry Lyndon

%section

  %h2 Round 5

  %ol
    %li.question
      What animal has the highest blood pressure?
      .answer Giraffe
    %li.question
      What are the two summer Olympic events in which only women compete?
      .answer
        %ul
          %li Synchronized swimming
          %li Rhythmic gymnastics
    %li.question
      What 1759 satire by Voltaire was remade in 1956 as an operetta with music by Leonard Bernstein?
      .answer
        %i Candide
    %li.question
      Operation Paperclip was a U.S. military program for removing what from Germany after World War II?
      .answer Scientists
    %li.question
      What is the most abundant chemical element in the Earth’s crust?
      .answer Oxygen
    %li.question
      Named after Steve Jobs’ daughter and predating the Macintosh by a year, what was the first Apple computer with a graphical user interface?
      .answer Lisa

%section

  %h2
    Final question
    %small (Category: <em>The U.S. Presidency</em>)

  .question
    What 19th century public figure said about the Presidency, “I will not accept if nominated and will not serve if elected”?
    .answer General William Tecumseh Sherman
