---
title: January 8, 2013
---

%section

  %h2 Round 1

  %ol
    %li.question
      What is the largest Canadian province (<em>not territory</em>) by land area?
      .answer Québec
    %li.question
      What two NFL teams’ logos contain images of weapons?
      .answer
        %ul
          %li Oakland Raiders
          %li Tampa Bay Buccaneers
        %small (also acceptable: Kansas City Chiefs, whose logo contains an outline of an arrowhead)
    %li.question
      What European brewery’s name forms part of the Latin name of a strain of lager yeast?
      .answer
        Carlsberg
        %small (<i>saccharomyces carlsbergensis</i>)
    %li.question
      The song “Zip-a-Dee-Doo-Dah” was originally written for what 1946 Disney film?
      .answer
        %i Song of the South
    %li.question
      What are the five stages of grief in the Kübler-Ross model?
      .answer
        %ul
          %li Denial
          %li Anger
          %li Bargaining
          %li Depression
          %li Acceptance
    %li.question
      Mozart’s last symphony has what astronomical nickname?
      .answer
        %i Jupiter

%section

  %h2 Round 2

  %ol
    %li.question
      What color name in English comes from an Urdu word meaning “soil-colored” or “dusty”?
      .answer Khaki
    %li.question
      In baseball statistics, what does the acronym WHIP stand for?
      .answer Walks plus Hits per Inning Pitched
    %li.question
      In what city was President William McKinley assassinated?
      .answer Buffalo, NY
    %li.question
      California Gray, Plymouth Rock, Jersey Giant, and Scots Dumpy are types of what?
      .answer Chicken
    %li.question
      In 2004, this author had a voice cameo on <i>The Simpsons</i>, depicted in cartoon form with a paper bag over his head.
      .answer Thomas Pynchon
    %li.question
      The Whiskey Rebellion took place from 1791 to 1794 in what U.S. state?
      .answer Pennsylvania

%section

  %h2 Round 3

  %p
    Given each list of ingredients, list the cocktail that is made with them.
    For example, <em>Gin, dry vermouth, olive</em> → <strong>Martini</strong>.

  %ol
    %li.question
      Champagne, orange juice
      .answer Mimosa
    %li.question
      Whiskey, vermouth, bitters
      .answer Manhattan
    %li.question
      Rum, pineapple juice, coconut milk
      .answer Piña colada
    %li.question
      Vodka, triple sec, cranberry juice, lime
      .answer Cosmopolitan
    %li.question
      Whiskey, lemon juice, simple syrup, egg white
      .answer Whiskey sour
    %li.question
      Vodka, Kahlúa, Coca-Cola
      .answer Black Russian
    %li.question
      Bourbon, simple syrup, mint
      .answer Mint julep
    %li.question
      Tequila, orange juice, grenadine
      .answer Tequila sunrise
    %li.question
      Whiskey, sugar, bitters, orange twist
      .answer Old-fashioned
    %li.question
      Gin, lemon juice, simple syrup, club soda
      .answer Tom Collins
    %li.question
      Rum, lime juice, simple syrup
      .answer Daiquiri
    %li.question
      Tequila, triple sec, lime juice
      .answer Margarita
    %li.question
      Gin, lime cordial
      .answer Gimlet
    %li.question
      Cognac, crème de cacao, cream
      .answer Brandy Alexander
    %li.question
      Dark rum, ginger beer, lime
      .answer Dark and Stormy
    %li.question
      Sparkling wine, peach purée
      .answer Bellini
    %li.question
      Rye whiskey, sugar, absinthe, Peychaud’s bitters
      .answer Sazerac
    %li.question
      White and dark rum, orange curaçao, orgeat, lime juice
      .answer Mai tai
    %li.question
      Gin, Campari, sweet vermouth
      .answer Negroni
    %li.question
      Vodka, Galliano, orange juice
      .answer Harvey Wallbanger
    %li.question
      Gin, lime juice, club soda
      .answer Gin rickey
    %li.question
      Scotch, sweet vermouth, bitters
      .answer Rob Roy
    %li.question
      Cognac, lemon juice, triple sec
      .answer Sidecar
    %li.question
      Gin, Angostura bitters
      .answer Pink gin
    %li.question
      White wine, crème de cassis
      .answer Kir


%section

  %h2 Round 4

  %ol
    %li.question
      Cyanoacrylate is better known to consumers as what?
      .answer Super Glue
    %li.question
      What are the northernmost and southernmost teams in the National Hockey League?
      .answer
        %ul
          %li Edmonton Oilers
          %li Florida Panthers
    %li.question
      What tradition in the British Royal Navy ended on July 31, 1970?
      .answer
        Issue of a daily rum ration
    %li.question
      What was the last movie to win the Oscar for Best Picture and be the top-grossing film that year?
      .answer
        %i The Lord of the Rings: Return of the King
    %li.question
      What two Cabinet departments were established during Lyndon Johnson’s Presidency?
      .answer
        %ul
          %li Housing and Urban Development
          %li Transportation
    %li.question
      What is the purpose of a Brannock Device?
      .answer Measuring shoe size

%section

  %h2 Round 5

  %ol
    %li.question
      The English word “grenade” is derived from a foreign word for what fruit?
      .answer
        Pomegranate
        %small (from French <i>grenade</i>)
    %li.question
      What are the four tournaments in the tennis Grand Slam?
      .answer
        %ul
          %li Australian Open
          %li French Open
          %li Wimbledon
          %li U.S. Open
    %li.question
      Citrine is a yellowish quartz crystal sometimes sold as a substitute for what birthstone?
      .answer
        Topaz
        %small (for November)
    %li.question
      What is the only country other than the United States with a nuclear-powered aircraft carrier in its navy?
      .answer
        France
        %small (the <a href="https://en.wikipedia.org/wiki/French_aircraft_carrier_Charles_de_Gaulle_(R91)"><i>Charles de Gaulle</i></a>)
    %li.question
      In what state is the real hotel used for exterior shots of the Overlook Hotel in the film <i>The Shining</i>?
      .answer
        Oregon
        %small (the <a href="https://en.wikipedia.org/wiki/Timberline_Lodge">Timberline Lodge</a>, in Mount Hood National Forest)
    %li.question
      The first recorded usage of the phrase “one fell swoop” is found in what Shakespeare play?
      .answer
        %i Macbeth

%section

  %h2
    Final question
    %small (Category: <em>Soft drinks</em>)

  .question
    Until 1950, what soft drink contained the mood-stabilizing drug lithium citrate?
    .answer
      7-Up
      %small (its full original name: “Bib-Label Lithiated Lemon-Lime Soda”)
