---
title: October 29, 2013
---

%section

  %h2 Round 1

  %ol
    %li.question
      What is the name of the vineyard that provides Trader Joe’s with the line of wines known colloquially as “Two Buck Chuck”?
      .answer Charles Shaw

    %li.question
      What are the first names of the four lead characters on <i>The Golden Girls</i>?
      .answer
        %ul
          %li Blanche
          %li Dorothy
          %li Rose
          %li Sophia

    %li.question
      What medical journal founded in 1823 is named for a type of double-bladed scalpel?
      .answer
        %i The Lancet

    %li.question
      In the American Film Institute’s 2003 lists of top 50 film heroes and top 50 villains, what is the only movie with a character in the top 10 on both lists?
      .answer
        %i The Silence of the Lambs

    %li.question
      What type of hors d’oeuvre, generally consisting of a small piece of toast with toppings, is named for the French word for a couch or sofa?
      .answer Canapé

    %li.question
      The shortest verse in the King James Bible consists of what two words?
      .answer “Jesus wept.”


%section

  %h2 Round 2

  %ol
    %li.question
      In Morse Code, what letter is represented by a single dot?
      .answer E

    %li.question
      The tallest building in Albany is named after what 11-term mayor of that city?
      .answer Erastus Corning

    %li.question
      The Standard Reference Method is a system used by brewers to measure what property of their beer?
      .answer Color

    %li.question
      Name the only two women to have a Billboard #1 single and a Best Actress Academy Award.
      .answer
        %ul
          %li Barbra Streisand
          %li Cher

    %li.question
      “I would prefer not to” is the refrain of what Herman Melville title character?
      .answer Bartleby

    %li.question
      What is the only U.S. state whose current flag has different designs on the front and back?
      .answer Oregon


%section

  %h2 Round 3

  %p Name the sports team (or for NCAA teams, the school) corresponding to each mascot character.

  %h3 NCAA football

  %ol
    %li.question
      Bill (a goat)
      .answer
        U.S. Naval Academy
        %small (Midshipmen)
    %li.question
      Traveler (a horse)
      .answer
        University of Southern California
        %small (Trojans)
    %li.question
      Ralphie (a bison)
      .answer
        University of Colorado
        %small (Buffaloes)
    %li.question
      Rameses (a ram)
      .answer
        University of North Carolina
        %small Tarheels

  %h3 MLB

  %ol
    %li.question
      Baxter (a bobcat)
      .answer
        Arizona Diamondbacks
    %li.question
      Orbit (an alien)
      .answer
        Houston Astros
    %li.question
      Screech (an eagle)
      .answer
        Washington Nationals
    %li.question
      Stomper (an elephant)
      .answer
        Oakland Athletics

  %h3 NFL

  %ol
    %li.question
      Chomps (a dog)
      .answer
        Cleveland Browns
    %li.question
      T-Rac (a raccoon)
      .answer
        Tennessee Titans
    %li.question
      Toro (a bull)
      .answer
        Houston Texans
    %li.question
      Who Dey (a tiger)
      .answer
        Cincinnati Bengals

  %h3 NBA

  %ol
    %li.question
      Hooper (a horse)
      .answer
        Detroit Pistons
    %li.question
      Rocky (a mountain lion)
      .answer
        Denver Nuggets
    %li.question
      Rumble (a bison)
      .answer
        Oklahoma City Thunder
    %li.question
      Slamson (a lion)
      .answer
        Sacramento Kings

  %h3 NHL

  %ol
    %li.question
      Al (an octopus)
      .answer
        Detroit Red Wings
    %li.question
      Gnash (a sabre-toothed tiger)
      .answer
        Nashville Predators
    %li.question
      Spartacat (a lion)
      .answer
        Ottawa Senators
    %li.question
      Youppi (a hairy orange giant)
      .answer
        Montreal Canadiens

  %h3 Non-sports bonus question
  .question
    %p What’s the <strong>name</strong> of this mascot from the computing world?
    %p= image_tag 'https://upload.wikimedia.org/wikipedia/commons/a/af/Tux.png', alt: '', style: 'height: 8em'
    .answer Tux


%section

  %h2 Round 4

  %ol
    %li.question
      Fashion designer Jason Wu is most famous for creating dresses for whom?
      .answer Michelle Obama

    %li.question
      Henry, Happy, Homer, and Harry are characters in what game?
      .answer
        %i Hungry Hungry Hippos

    %li.question
      Three answers, two points each. What are the three USDA grades of beef sold to retail customers?
      .answer
        %ul
          %li Select
          %li Choice
          %li Prime

    %li.question
      A 1940 sci-fi story titled “Farewell to the Master” was adapted into what 1951 film and its 2008 remake?
      .answer
        %i The Day the Earth Stood Still

    %li.question
      What common modern-day cocktail was originally named the Kangaroo?
      .answer Vodka martini

    %li.question
      Three answers, five points each. Name the three geological periods making up the Mesozoic Era, also known as the “Age of Dinosaurs”.
      .answer
        %ul
          %li Triassic
          %li Jurassic
          %li Cretaceous


%section

  %h2 Round 5

  %ol
    %li.question
      In what game would you find a character nicknamed “Cavity Sam”?
      .answer
        %i Operation

    %li.question
      What was the name of Bryan Cranston’s recurring character on <i>Seinfeld</i>?
      .answer Tim Whately

    %li.question
      What 19th-century novel is subtitled <i>The Modern Prometheus</i>?
      .answer
        %i Frankenstein

    %li.question
      What is the most abundant metallic element in the human body?
      .answer Calcium

    %li.question
      What U.S. candy was first released in England in 1959 under the name “Opal Fruits”?
      .answer Starburst

    %li.question
      U.S. law states that liquor labeled as “straight bourbon” must be barrel-aged at least how long?
      .answer Two years


%section

  %h2
    Final question
    %small (Category: <em>International food</em>)

  .question
    The crusty bottom layer of what dish is known as socarrat?
    .answer Paella
