---
title: April 30, 2013
---

%section

  %h2 Round 1

  %ol
    %li.question
      A Monkey’s Fist, a Turk’s Head, and a Solomon Bar are all types of what?
      .answer Knots
    %li.question
      From 1968 to 2000, members of the Directors Guild of America who did not want their names attached to a movie used what pseudonym in the credits?
      .answer Alan Smithee
    %li.question
      In the original Apple II game <i>The Oregon Trail</i>, what three professions could you choose to play as?
      .answer
        %ul
          %li Banker
          %li Carpenter
          %li Farmer
    %li.question
      In baseball, “Uncle Charlie” is a nickname for what?
      .answer Curveball
    %li.question
      What two U.S. states border one another in the Atlantic Ocean but <em>not</em> on land?
      .answer
        %ul
          %li New York
          %li Rhode Island
    %li.question
      Who was the first guest star to appear on <i>The Simpsons</i> as him- or herself, rather than as the voice of a fictional character?
      .answer
        Tony Bennett
        %small (in “Dancin’ Homer”, season 2 episode 5)

%section

  %h2 Round 2

  %ol
    %li.question
      What was the first state to join the U.S. after the original 13 colonies?
      .answer Vermont
    %li.question
      What is the name of the intelligence test given to players at the NFL Scouting Combine?
      .answer Wonderlic
    %li.question
      What three-word phrase does “ZIP” stand for in “ZIP code”?
      .answer
        Zone Improvement Plan
    %li.question
      The longest-distance non-stop commercial flight in the world connects what two cities?
      .answer
        %ul
          %li
            Newark, NJ
            %small (New York, NY acceptable)
          %li Singapore
        %small (<a href="https://en.wikipedia.org/wiki/Singapore_Airlines_Flight_21">Singapore Airlines flights 21/22</a>; the flights were discontinued in November 2013)
    %li.question
      What is the name of the character controlled by the player in the Nintendo game “Mike Tyson’s Punch-Out”?
      <em>Bonus</em>: what is the alternate name of the Mike Tyson character in that game?
      .answer
        Little Mac
        %small (<em>bonus</em>:
        Mr. Dream
        %small> )
    %li.question
      What chemical substance was known to medieval alchemists as “oil of vitriol”?
      .answer Sulfuric acid

%section

  %h2 Round 3

  %p
    For each given place name, provide the name by which that place is currently known.
    For example, <em>New Amsterdam</em> → <strong>New York</strong>.

  %ol
    %li.question
      Persia
      .answer Iran
    %li.question
      Siam
      .answer Thailand
    %li.question
      Leningrad
      .answer Saint Petersburg
    %li.question
      New Spain
      .answer Mexico
    %li.question
      Bombay
      .answer Mumbai
    %li.question
      Saigon
      .answer Ho Chi Minh City
    %li.question
      Abyssinia
      .answer Ethiopia
    %li.question
      Spanish East Indies
      .answer Philippines
    %li.question
      Ceylon
      .answer Sri Lanka
    %li.question
      East Pakistan
      .answer Bangladesh
    %li.question
      Upper Peru
      .answer Bolivia
    %li.question
      French Sudan
      .answer Mali
    %li.question
      Edo
      .answer Tokyo
    %li.question
      British Honduras
      .answer Belize
    %li.question
      North Tarrytown
      .answer Sleepy Hollow

%section

  %h2 Round 4

  %ol
    %li.question
      Who was the first real person depicted on a U.S. coin?
      .answer
        Abraham Lincoln
        %small (in 1909, the centennial of his birth)
    %li.question
      What are the two cheapest properties on the Monopoly board?
      .answer
        %ul
          %li Mediterranean Avenue
          %li Baltic Avenue
    %li.question
      Name the three signs of the Chinese zodiac that are not mammals.
      .answer
        %ul
          %li Dragon
          %li Snake
          %li Rooster
    %li.question
      What U.S. state has the highest per-capita prison incarceration rate?
      .answer Louisiana
    %li.question
      What is the nickname of the day of the year on which James Joyce’s novel <i>Ulysses</i> is set?
      <em>Bonus</em>: what day is it?
      .answer
        Bloomsday
        %small (<em>bonus</em>:
        June 16
        %small> )
    %li.question
      Named after a 17th-century Italian physician, what is the act of clearing one’s ears by breathing out with the mouth and nose held shut?
      .answer Valsalva maneuver

%section

  %h2 Round 5

  %ol
    %li.question
      What metal is combined with pure silver to produce sterling silver?
      .answer Copper
    %li.question
      What was removed from the Mister Potato Head toy kit in 1987?
      .answer His pipe
    %li.question
      In the American Civil War, the first and second battles of Bull Run were known by what name in the Confederacy?
      .answer Manassas
    %li.question
      Released in 1963, the soft drink Patio was renamed the following year as what?
      .answer Diet Pepsi
    %li.question
      “Lou Seal” is the mascot of what professional sports team?
      .answer San Francisco Giants
    %li.question
      What is the SI/metric unit expressing the strength of magnetic fields?
      .answer Tesla

%section

  %h2
    Final question
    %small (Category: <em>Los Angeles</em>)

  .question
    What is the largest group of people collectively recognized with a star on the Hollywood Walk of Fame?
    .answer
      The Munchkins from
      %i The Wizard of Oz
      %small (of whom there were approximately 134)
