---
title: July 30, 2013
---

%section

  %h2 Round 1

  %ol
    %li.question
      An anthropomorphic beer keg named Keggy is the unofficial mascot of what Ivy League school?
      .answer Dartmouth College

    %li.question
      Minion, bourgeois, and elite are obsolete names for different sizes of what?
      .answer
        Printed type
        %small (7 point, 8 point, and 10 point respectively)

    %li.question
      What three movies jointly hold the record for most Oscar wins with 11?
      .answer
        %ul
          %li
            %i Ben-Hur
          %li
            %i Titanic
          %li
            %i The Lord of the Rings: Return of the King

    %li.question
      In 1997, a computer defeated the reigning world chess champion for the first time. Name the computer and the player it beat.
      .answer
        Deep Blue
        %small defeated
        Garry Kasparov

    %li.question
      What humanitarian organization was founded in 1971 to provide care to victims of civil war in Nigeria?
      .answer
        Médecins Sans Frontières
        %small (a.k.a. Doctors Without Borders)

    %li.question
      What cartoon character is named after a Sanskrit-titled orchestral piece by Olivier Messiaen?
      .answer
        Turanga Leela
        %small (from <i>Futurama</i>, after Messiaen’s <i>Turangalîla-Symphonie</i>)

%section

  %h2 Round 2

  %ol
    %li.question
      In standard darts scoring, what is the lowest point value that cannot be scored with a single dart?
      .answer 23

    %li.question
      In what city was President William McKinley assassinated?
      .answer Buffalo, NY

    %li.question
      In the late 19th century, what was nearly wiped out in Europe by phylloxera?
      .answer Vineyards

    %li.question
      What 1977 film depicts the World War II mission code-named Operation Market Garden?
      .answer
        %i A Bridge Too Far

    %li.question
      In 1999, Apple released the iMac in five different colors named for what fruits?
      .answer
        %ul
          %li Blueberry
          %li Grape
          %li Lime
          %li Strawberry
          %li Tangerine

    %li.question
      The United States and New Zealand are the only two countries in the world that permit what type of product to be advertised directly to consumers?
      .answer Prescription drugs

%section

  %h2 Round 3

  %p
    Given a past or present advertising slogan, give the corresponding product or brand.
    Product or brand names found within the slogans have been blanked out.

  %ol
    %li.question
      A little dab’ll do ya
      .answer Brylcreem

    %li.question
      Coffee at its best
      .answer Nescafé

    %li.question
      Does she or doesn’t she?
      .answer Clairol

    %li.question
      I think, therefore _____
      .answer IBM

    %li.question
      Image is everything
      .answer Canon

    %li.question
      Impossible is nothing
      .answer Adidas

    %li.question
      Is it live, or is it _____?
      .answer Memorex

    %li.question
      It takes a tough man to make a tender chicken
      .answer Perdue

    %li.question
      It’s the real thing
      .answer Coca-Cola

    %li.question
      Keep walking
      .answer Johnnie Walker

    %li.question
      Make mine _____
      .answer Moxie

    %li.question
      Nobody better lay a finger on my _____
      .answer Butterfinger

    %li.question
      Quality is job one
      .answer Ford

    %li.question
      Reach for a _____ instead of a sweet
      .answer
        Lucky
        %small (for Lucky Strike)

    %li.question
      Reassuringly expensive
      .answer Stella Artois

    %li.question
      The world’s favourite airline
      .answer British Airways

    %li.question
      Think small
      .answer Volkswagen

    %li.question
      Vorsprung durch Technik
      .answer Audi

    %li.question
      We answer to a higher authority
      .answer Hebrew National

    %li.question
      We try harder
      .answer Avis

%section

  %h2 Round 4

  %ol
    %li.question
      What is First Lady Michelle Obama’s maiden name?
      .answer Robinson

    %li.question
      The singer of “You’re a Mean One, Mr. Grinch” states that he would not touch the Grinch with a pole how many feet long?
      .answer Thirty-nine and a half

    %li.question
      Andrei Tarkovsky and Steven Soderbergh each directed a film version of what Polish science fiction novel?
      .answer
        %i Solaris

    %li.question
      What Apollo 11 astronaut orbited the moon while Neil Armstrong and Buzz Aldrin landed on the surface?
      .answer Michael Collins

    %li.question
      In the United States, a barrel of beer is equivalent to how many gallons?
      .answer 31

    %li.question
      What retail company’s headquarters in New York City was the tallest building in the world from 1913 until 1930?
      .answer F.W. Woolworth Company

%section

  %h2 Round 5

  %ol
    %li.question
      What cartoon character’s official name is Norville Rogers?
      .answer
        Shaggy
        %small (from <i>Scooby-Doo</i>)

    %li.question
      The Discover credit card was introduced in 1985 by what retail company?
      .answer Sears

    %li.question
      The original screenplay of what film was titled <i>Tex X</i>?
      .answer
        %i Blazing Saddles

    %li.question
      Human hair and fingernails consist primarily of what protein?
      .answer Keratin

    %li.question
      What Major League Baseball player made the All-Star Team a record 21 times, in every season he played except his first and last?
      .answer Hank Aaron

    %li.question
      What organization was founded in San Francisco in 1892 by the man depicted on California’s state quarter?
      .answer The Sierra Club

%section

  %h2
    Final question
    %small (Category: <em>Universities</em>)

  .question
    Founded in 1088, the oldest continuously-operating university in the world is located in what country?
    .answer
      Italy
      %small (University of Bologna)
