---
title: January 28, 2014
---

%section

  %h2 Round 1

  %ol
    %li.question
      In two-way radio communication, “wilco” is a contraction of what two-word phrase?
      .answer Will comply
    %li.question
      What numbered streets form the northern and southern boundaries of Manhattan’s Central Park?
      .answer
        %ul
          %li 59th Street
          %li 110th Street
    %li.question
      Name the three spinoff series of The Mary Tyler Moore Show, each named for its respective main character.
      .answer
        %ul
          %li
            %i Rhoda
          %li
            %i Phyllis
          %li
            %i Lou Grant
    %li.question
      The crusty bottom layer of what dish is known as “socarrat”?
      .answer Paella
    %li.question
      What planet in the solar system has the shortest day?
      .answer
        Jupiter
        %small (9.9 hours)
    %li.question
      The largest collection of Renaissance paintings in the world is held in what museum in Florence, Italy?
      .answer The Uffizi Gallery

%section

  %h2 Round 2

  %ol
    %li.question
      The Bugs Bunny cartoon <i>What’s Opera, Doc?</i> parodies the works of what composer?
      .answer Richard Wagner
    %li.question
      What party game distributed by Hasbro carries the tagline “The game of unspeakable fun”?
      .answer Taboo
    %li.question
      According to the American Brewers Association, what is the largest craft brewery in New York State?
      .answer F.X. Matt Brewing Company
    %li.question
      What actor, born in 1943 and knighted in 2001, was originally named Krishna Pandit Bhanji?
      .answer Sir Ben Kingsley
    %li.question
      <i>Guesstimation:</i> how many feet apart are the uprights on an NFL goalpost?
      .answer 18½ feet
    %li.question
      What five books of the Old Testament make up the Torah?
      .answer
        %ul
          %li Genesis
          %li Exodus
          %li Leviticus
          %li Numbers
          %li Deuteronomy

%section

  %h2 Round 3

  %p

    Listed below are the titles of various American movies, as translated for
    foreign markets, then translated back into English (provided as hints are
    the language of the translation and the year of original English release).
    Give the original titles for each film.

  %ol
    %li.question
      %i A Very Crazy Dead Man
      %small (1989, Portugal)
      .answer
        %i Weekend at Bernie’s
    %li.question
      %i A Very Powerful Whale Runs to Heaven
      %small (1993, China)
      .answer
        %i Free Willy
    %li.question
      %i American Virgin Man
      %small (1999, Hong Kong)
      .answer
        %i American Pie
    %li.question
      %i Captain Supermarket
      %small (1992, Japan)
      .answer
        %i Army of Darkness
    %li.question
      %i Held by Wind in Montana
      %small (1998, Japan)
      .answer
        %i The Horse Whisperer
    %li.question
      %i His Great Device Makes Him Famous
      %small (1997, China)
      .answer
        %i Boogie Nights
    %li.question
      %i I Will Marry a Prostitute to Save Money
      %small (1990, China)
      .answer
        %i Pretty Woman
    %li.question
      %i If You Leave Me, I Delete You
      %small (2004, Italy)
      .answer
        %i Eternal Sunshine of the Spotless Mind
    %li.question
      %i I’m Drunk and You’re a Prostitute
      %small (1995, Japan)
      .answer
        %i Leaving Las Vegas
    %li.question
      %i It’s Raining Falafel
      %small (2009, Israel)
      .answer
        %i Cloudy with a Chance of Meatballs
    %li.question
      %i Just Send Him to University Unqualified
      %small (1983, China)
      .answer
        %i Risky Business
    %li.question
      %i Labor Trip
      %small (2010, Portugal)
      .answer
        %i Due Date
    %li.question
      %i Love Is in the Sky
      %small (1986, Israel)
      .answer
        %i Top Gun
    %li.question
      %i Pigs and Diamonds
      %small (2000, Mexico)
      .answer
        %i Snatch
    %li.question
      %i Santa Is a Pervert
      %small (2003, Czech Republic)
      .answer
        %i Bad Santa
    %li.question
      %i Slightly Pregnant
      %small (2007, Peru)
      .answer
        %i Knocked Up
    %li.question
      %i The Gun Died Laughing
      %small (1988, Israel)
      .answer
        %i The Naked Gun
    %li.question
      %i This Hit Man Is Not as Cold as He Thought
      %small (1994, China)
      .answer
        %i Leon: The Professional
    %li.question
      %i Urban Neurotic
      %small (1977, Germany)
      .answer
        %i Annie Hall
    %li.question
      %i Vaseline
      %small (1978, Argentina)
      .answer
        %i Grease

%section

  %h2 Round 4

  %ol
    %li.question
      Bruxism is a behavior involving what part of the human body?
      .answer
        Teeth
        %small (chronic grinding or clenching of teeth)
    %li.question
      The 1996 film <i>Twister</i> is notable for what technological first?
      .answer First major film released on DVD
    %li.question
      Many archaeologists believe that the extinction of the dinosaurs was caused by a meteor strike off the coast of what present-day country?
      .answer Mexico
    %li.question
      What candy bar was named for one of the favorite horses of candy magnate Frank Mars?
      .answer Snickers
    %li.question
      Name the only two Confederate state capitals <em>not</em> captured by Union forces during the Civil War.
      .answer
        %ul
          %li Tallahassee, FL
          %li Austin, TX
    %li.question
      What television personality was the first person to portray Ronald McDonald?
      .answer Willard Scott

%section

  %h2 Round 5

  %ol
    %li.question
      What unit of measurement corresponds to the Earth’s approximate average distance from the sun?
      .answer Astronomical unit
    %li.question
      What is the only U.S. state whose flag is not square or rectangular?
      .answer Ohio
    %li.question
      What type of leather used in shoemaking is made from hide from the hindquarters of horses?
      .answer Cordovan
    %li.question
      In Finland, the postal code 99999 is designated for what special recipient?
      .answer Santa Claus
    %li.question
      Who won an Emmy in 1992 for his appearance on <i>The Simpsons</i> as Krusty the Clown’s father?
      .answer Jackie Mason
    %li.question
      The Beatles played their last official concert in August 1966 in what city?
      .answer San Francisco

%section

  %h2
    Final question
    %small (Category: <em>Literature</em>)

  .question
    What 1969 novel has the subtitle <i>The Children’s Crusade</i>?
    .answer
      %i Slaughterhouse-Five
