---
title: April 29, 2014
---

%section

  %h2 Round 1

  %ol
    %li.question
      How many puzzle pieces make up a tangram set?
      .answer
        Seven
    %li.question
      The Beaufort scale is used to measure what?
      .answer
        Wind speed
        %small (or storm strength, etc.)
    %li.question
      Founded in 1693, what is the second-oldest institution of higher learning in the United States?
      .answer
        College of William and Mary
    %li.question
      Name the four railroads on a U.S. <i>Monopoly</i> board.
      .answer
        %ul
          %li Reading
          %li Pennsylvania
          %li B & O
          %li Short Line
    %li.question
      What adjective meaning “very large” comes from the name of an elephant exhibited in the 19th century by P.T. Barnum?
      .answer
        Jumbo
    %li.question
      What does the acronym “DNA” stand for?
      .answer
        Deoxyribonucleic acid

%section

  %h2 Round 2

  %ol
    %li.question
      Rickets is a disease primarily caused by a deficiency of what vitamin?
      .answer
        D
    %li.question
      What four U.S. Presidents have first and last names that begin with the same letter?
      .answer
        %ul
          %li Woodrow Wilson
          %li Calvin Coolidge
          %li Herbert Hoover
          %li Ronald Reagan
    %li.question
      What is the name of the youngest Von Trapp child in <i>The Sound of Music</i>?
      .answer
        Gretl
    %li.question
      What are the only two books of the Old Testament named for women?
      .answer
        %ul
          %li Esther
          %li Ruth
    %li.question
      What is the title of the poem inscribed on a plaque at the Statue of Liberty, and who was its author?
      .answer
        <i>The New Colossus</i>
        %small by
        Emma Lazarus
    %li.question
      What television series, running from 1955 to 1965, used Charles Gounod’s “Funeral March for a Marionette” as its theme song?
      .answer
        %i Alfred Hitchcock Presents

%section

  %h2 Round 3

  %p
    Provide the full title for each song, film, etc. below fitting its respective category. Titles may or may not contain words besides the category prompt. For instance:

  %ul
    %li
      %em (U.S. states)
      1965 song by The Beach Boys →
      %strong “California Girls”
    %li
      %em (Countries)
      1985 film directed by Terry Gilliam →
      %strong
        %i Brazil

  %h3 Containing names of U.S. states

  %ol
    %li.question
      1972 song by The Rolling Stones
      .answer “Sweet Virginia”
    %li.question
      1977 film directed by John Landis
      .answer
        %i The Kentucky Fried Movie
    %li.question
      1990 film starring Christopher Walken
      .answer
        %i King of New York
    %li.question
      2004 song by Loretta Lynn and Jack White
      .answer “Portland, Oregon”
    %li.question
      1984 film directed by Wim Wenders
      .answer
        %i Paris, Texas
    %li.question
      1973 song by Frank Zappa
      .answer “Montana”
    %li.question
      1988 film starring Gene Hackman and Willem Dafoe
      .answer
        %i Mississippi Burning
    %li.question
      1991 film directed by Gus Van Sant
      .answer
        %i My Own Private Idaho

  %h3 Containing names of foreign countries

  %ol
    %li.question
      1987 film directed by Barry Levinson
      .answer
        %i Good Morning Vietnam
    %li.question
      2004 film starring Don Cheadle
      .answer
        %i Hotel Rwanda
    %li.question
      1999 song by Tom Waits
      .answer “Big in Japan”
    %li.question
      1998 animated film by DreamWorks Pictures
      .answer
        %i The Prince of Egypt
    %li.question
      1980 single by the Dead Kennedys
      .answer “Holiday in Cambodia”
    %li.question
      2004 song by Arcade Fire
      .answer “Haïti”
    %li.question
      1977 song by Randy Newman
      .answer “In Germany Before the War”
    %li.question
      2008 film directed by Baz Luhrmann
      .answer
        %i Australia

  %h3 Containing the word “America” or “American”

  %ol
    %li.question
      1973 song by Grand Funk Railroad
      .answer “We’re an American Band”
    %li.question
      1928 symphonic work by George Gershwin
      .answer
        %i An American in Paris
    %li.question
      2003 TV mini-series starring Al Pacino
      .answer
        %i Angels in America
    %li.question
      1984 film directed by Sergio Leone
      .answer
        %i Once Upon a Time in America
    %li.question
      2003 album by Madonna
      .answer
        %i American Life
    %li.question
      1998 film starring Edward Norton
      .answer
        %i American History X
    %li.question
      1970 album by The Guess Who
      .answer
        %i American Woman
    %li.question
      1988 film directed by John Landis
      .answer
        %i Coming to America

%section

  %h2 Round 4

  %ol
    %li.question
      What was the name of the first U.S. space station, launched in 1973?
      .answer
        Skylab
    %li.question
      On what day of the year is Bastille Day celebrated in France?
      .answer
        July 14
    %li.question
      After <i>Pac-Man</i>, what is the second-best-selling arcade game in history in terms of hardware units sold?
      .answer
        %i Space Invaders
    %li.question
      On what street in Springfield do the Simpsons live?
      .answer
        Evergreen Terrace
    %li.question
      What two MLB teams have met more frequently in the World Series than any other pair?
      .answer
        %ul
          %li Yankees
          %li
            Dodgers
            %small (7× in Brooklyn, 4× in Los Angeles)
    %li.question
      What Cabinet member immediately follows the Secretary of State in the order of Presidential succession?
      .answer
        Secretary of the Treasury

%section

  %h2 Round 5

  %ol
    %li.question
      In 1985, who was named <i>People</i> magazine’s first Sexiest Man Alive?
      .answer
        Mel Gibson
    %li.question
      Name either of the two Broadway performers to have won Tony Awards for playing a character of the opposite sex (<em>not</em> cross-dressing).
      .answer
        %ul
          %li Mary Martin
          %li Harvey Fierstein
    %li.question
      What is the chemical formula for ozone?
      .answer
        O₃
    %li.question
      The word “robot” came into the English language from a play written in what language?
      .answer
        Czech
        %small (from Czech “robota” meaning “labor; drudgery”)
    %li.question
      In what city is Shakespeare’s <i>Measure for Measure</i> set?
      .answer
        Vienna
    %li.question
      How many furlongs are there in one mile?
      .answer
        Eight

%section

  %h2
    Final question
    %small (Category: <i>Cars</i>)

  .question
    The classic Volkswagen microbus introduced in 1949 was last manufactured in December 2013 in what country?
    .answer Brazil
