---
title: November 4, 2014
---

%section

  %h2 Round 1

  %ol
    %li.question
      How many muses are there in Greek mythology?
      .answer Nine

    %li.question
      What are the two lowest-priced properties on the <i>Monopoly</i> board, at $60 each?
      .answer
        %ul
          %li Mediterranean Avenue
          %li Baltic Avenue

    %li.question
      What home furnishing can be protected from dirt and wear by an antimacassar?
      .answer
        Chair
        %small (or sofa, couch, etc.)

    %li.question
      What 2011 movie was the first ever to sweep every category in the Razzies, awarded to the worst films and performances of the year?
      .answer
        %i Jack and Jill

    %li.question
      What two singers are tied for the career record of the most weeks in the number one spot on the Billboard Top 100 charts?
      .answer
        %ul
          %li Elvis Presley
          %li Mariah Carey
        %small (79 weeks each)

    %li.question
      Name the three companies to have held the number one spot on the Fortune 500 list of U.S. companies, ranked by gross revenue, since it began in 1955.
      .answer
        %ul
          %li General Motors
          %li ExxonMobil
          %li Wal-Mart

%section

  %h2 Round 2

  %ol
    %li.question
      On <i>The Simpsons</i>, what is Sideshow Bob’s last name?
      .answer Terwilliger

    %li.question
      What vegetable did Mark Twain refer to in one of his books as “cabbage with a college education”?
      .answer Cauliflower

    %li.question
      In French cuisine, what are the three main ingredients of béchamel sauce?
      .answer
        %ul
          %li Butter
          %li Flour
          %li Milk

    %li.question
      What four U.S. states have no sales tax?
      .answer
        %ul
          %li Delaware
          %li Montana
          %li New Hampshire
          %li Oregon

    %li.question
      What actor’s first credited movie role was the unnamed “Freak #1” in the 1974 film <i>Death Wish</i>?
      .answer Jeff Goldblum

    %li.question
      In ice hockey, a player who achieves a “Gordie Howe hat trick” has done what three things in one game?
      .answer
        %ul
          %li Scored a goal
          %li Recorded an assist
          %li Gotten in a fight

%section

  %h2 Round 3

  %p
    Name the cities and states or countries served by the airports named after each of the people below.

  %ol
    %li.question
      Louis Armstrong
      .answer
        New Orleans, LA
    %li.question
      David Ben-Gurion
      .answer
        Tel Aviv, Israel
    %li.question
      John Bergstrom
      .answer
        Austin, TX
    %li.question
      George Bush
      .answer
        Houston, TX
    %li.question
      Leonardo da Vinci
      .answer
        Rome, Italy
    %li.question
      John Dulles
      .answer
        Washington, DC
    %li.question
      Indira Gandhi
      .answer
        Delhi, India
    %li.question
      Václav Havel
      .answer
        Prague, Czech Republic
    %li.question
      Bob Hope
      .answer
        Burbank, CA
        %small (Los Angeles also acceptable)
    %li.question
      Antonio Jobim
      .answer
        Rio de Janeiro, Brazil
    %li.question
      Benito Juárez
      .answer
        Mexico City, Mexico
    %li.question
      Franz Liszt
      .answer
        Budapest, Hungary
    %li.question
      Edward Logan
      .answer
        Boston, MA
    %li.question
      Thurgood Marshall
      .answer
        Baltimore, MD
    %li.question
      Pat McCarran
      .answer
        Las Vegas, NV
    %li.question
      Norman Mineta
      .answer
        San Jose, CA
    %li.question
      Lester Pearson
      .answer
        Toronto, Ontario
    %li.question
      Ted Stevens
      .answer
        Anchorage, AK
    %li.question
      Pierre Trudeau
      .answer
        Montreal, Quebec
    %li.question
      Will Rogers
      .answer
        Oklahoma City, OK

  .question
    %em Bonus:
    Which of the airports above had the most passenger traffic in 2013?
    .answer
      McCarran International Airport
      %small (Las Vegas, NV)

%section

  %h2 Round 4

  %ol
    %li.question
      Who is the only graduate of the U.S. Naval Academy to become President of the United States?
      .answer Jimmy Carter

    %li.question
      What British pop band formed in 1978 got its name from a government registration form for unemployment benefits?
      .answer UB40

    %li.question
      What does the acronym “URL” stand for?
      .answer Uniform Resource Locator

    %li.question
      What four cities have hosted the Summer Olympics more than once?
      .answer
        %ul
          %li
            Athens
            %small (3 times)
          %li
            London
            %small (3 times)
          %li
            Los Angeles
            %small (2 times)
          %li
            Paris
            %small (2 times)

    %li.question
      What is the current official name of the Chicago skyscraper formerly known as the Sears Tower?
      .answer Willis Tower

    %li.question
      What animated character, created in 1949, was an alumnus of Rutgers University, class of 1928?
      .answer Mr. Magoo

%section

  %h2 Round 5

  %ol
    %li.question
      In 1914, the last known member of what animal species died in the Cincinnati Zoo?
      .answer Passenger pigeon

    %li.question
      The Society of Jesus is a Catholic order more commonly known by what name?
      .answer Jesuits

    %li.question
      Felix Mendelssohn wrote an overture and incidental music for stage productions of which Shakespearean play?
      .answer
        %i A Midsummer Night’s Dream

    %li.question
      Prince Rupert’s drops are made up of what material?
      .answer Glass

    %li.question
      First made in 1891, Liederkranz cheese is an American re-creation of what type of European cheese?
      .answer Limburger

    %li.question
      What is the only U.S. state whose flag has a green background?
      .answer Washington

%section

  %h2
    Final question
    %small (Category: <em>Songs</em>)

  .question
    What is the only song to win the Grammy for Best Disco Recording, an award that existed for only one year?
    .answer
      “I Will Survive”
      %small by Gloria Gaynor
