---
title: July 29, 2014
---

%section

  %h2 Round 1

  %ol
    %li.question
      A Bellini cocktail is flavored with what fruit?
      .answer Peach
    %li.question
      Who is the only U.S. President to have been born in New York City?
      .answer
        Theodore Roosevelt
        %small (28 East 20th Street in Manhattan)
    %li.question
      Which of the five Great Lakes is the smallest in area?
      .answer Lake Ontario
    %li.question
      What was the name of the van driven by the crime-solving teens in <i>Scooby-Doo</i>?
      .answer The Mystery Machine
    %li.question
      The first McDonald’s location in Europe opened in what country?
      .answer The Netherlands
    %li.question
      The Hollywood Walk of Fame awards stars in what five categories?
      .answer
        %ul
          %li Movies
          %li Television
          %li Music/audio
          %li Radio
          %li Theater/live performance
  .question
    %em Bonus:
    Who is the only person to be awarded a star in all five of the Hollywood Walk of Fame categories?
    .answer
      Gene Autry

%section

  %h2 Round 2

  %ol
    %li.question
      What is the name of Selma Bouvier’s pet iguana on <i>The Simpsons</i>?
      .answer Jub-Jub
    %li.question
      What does the acronym “HTTP” stand for?
      .answer Hypertext transfer protocol
    %li.question
      In musical notation, a semiquaver is also known by what fractional name?
      .answer Sixteenth note
    %li.question
      What two types of precious gems are made up of a crystalline form of aluminum oxide?
      .answer
        %ul
          %li Ruby
          %li Sapphire
    %li.question
      What are the only two U.S. state capitals which border a neighboring state?
      .answer
        %ul
          %li Trenton, NJ
          %li Carson City, NV
    %li.question
      The most distinctive ingredient in the Aviation cocktail is a liqueur with what floral flavoring?
      .answer Violet

%section

  %h2 Round 3

  %p
    Name the primary ingredient of each dish listed; name two ingredients for dishes indicated with <i>(×2)</i>.
    <em>Note:</em> answers may be repeated.

  %ol
    %li.question
      Baba ghannouj (Middle East)
      .answer Eggplant
    %li.question
      Black pudding (British Isles)
      .answer Blood
    %li.question
      Borscht (Eastern Europe)
      .answer Beets
    %li.question
      Colcannon (Ireland) <i>(×2)</i>
      .answer Potatoes; kale
    %li.question
      Gravlax (Scandinavia)
      .answer Salmon
    %li.question
      Hasenpfeffer (Germany)
      .answer Rabbit
    %li.question
      Hoppin’ John (Southern U.S.) <i>(×2)</i>
      .answer Black-eyed peas; rice
    %li.question
      Johnny cakes (New England)
      .answer Corn
    %li.question
      Kapusta (Poland)
      .answer Cabbage
    %li.question
      Kheer (India)
      .answer Rice
    %li.question
      Kitfo (Ethiopia)
      .answer Beef
    %li.question
      Masoor dal (India)
      .answer Red lentils
    %li.question
      Merguez (Northern Africa)
      .answer Lamb
    %li.question
      Moon cake (China)
      .answer Bean paste
    %li.question
      Nattō (Japan)
      .answer Soybeans
    %li.question
      Ropa vieja (Cuba)
      .answer Beef
    %li.question
      Rösti (Switzerland)
      .answer Potatoes
    %li.question
      Shish taouk (Middle East)
      .answer Chicken
    %li.question
      Shoo-fly pie (Southern U.S.)
      .answer Molasses
    %li.question
      Som tam (Thailand)
      .answer Papaya
    %li.question
      Spanakopita (Greece)
      .answer Spinach
    %li.question
      Tamagoyaki (Japan)
      .answer Egg
    %li.question
      Tarte tatin (France)
      .answer Apples
    %li.question
      Vichysoisse (France) <i>(×2)</i>
      .answer Potatoes; leeks
    %li.question
      Welsh rarebit (British Isles) <i>(×2)</i>
      .answer Cheese; bread

%section

  %h2 Round 4

  %ol
    %li.question
      For what is Avery Island, Louisiana most well-known?
      .answer Production of Tabasco sauce
    %li.question
      Beethoven originally dedicated his <i>Heroic</i> Symphony to whom?
      .answer Napoleon Bonaparte
    %li.question
      Introduced in 1956, the Zenith Space Command was the first consumer version of what device?
      .answer Wireless TV remote control
    %li.question
      In 1989, what duo won the first-ever Grammy for Best Rap Performance?
      .answer DJ Jazzy Jeff and The Fresh Prince
    %li.question
      Where in the human body is the hyoid bone located?
      .answer The neck
    %li.question
      What is the common name of the mathematical symbol known as an obelus?
      .answer Division sign

%section

  %h2 Round 5

  %ol
    %li.question
      John Philip Sousa was commissioned in 1889 to write a march for what American newspaper?
      .answer
        %i The Washington Post
    %li.question
      Ulnar collateral ligament reconstruction is a surgical procedure nicknamed after what former Major League Baseball pitcher?
      .answer Tommy John
    %li.question
      In the movie <i>Demolition Man</i>, what is the only chain restaurant left in the world in 2032, after the Franchise Wars?
      .answer Taco Bell
    %li.question
      What was the only U.S. state with fewer people in 2010 than in 2000?
      .answer Michigan
    %li.question
      Whose autobiography was titled <i>Long Walk to Freedom</i>?
      .answer Nelson Mandela
    %li.question
      A person suffering from anosmia is unable to do what?
      .answer Smell

%section

  %h2
    Final question
    %small (Category: <em>Drinks</em>)

  .question
    In the 1730s, Johann Sebastian Bach wrote a choral work satirizing the newly-acquired taste in Germany for what drink?
    .answer
      Coffee
      %small (informally known as the <a href="https://en.wikipedia.org/wiki/Schweigt_stille,_plaudert_nicht,_BWV_211"><i>Coffee Cantata</i></a>)
