---
title: September 15, 2015
---

%section

  %h2 Round 1

  %ol
    %li.question
      For his role in <i>American Psycho</i>, Christian Bale said he was inspired by what celebrity’s “intense friendliness with nothing behind the eyes”?
      .answer Tom Cruise
    %li.question
      What is the only U.S. state whose flag depicts a specific historical person?
      .answer Washington
    %li.question
      How many days of horse racing are there at the Saratoga race course each summer?
      .answer 40
    %li.question
      What is stored in a rickhouse?
      .answer
        Whiskey
        %small (during barrel-aging)
    %li.question
      What five letters of the alphabet are not found in the Italian language, other than in foreign loanwords?
      .answer
        %ul
          %li J
          %li K
          %li W
          %li X
          %li Y
    %li.question
      What Manhattan tourist attraction was originally a Nabisco cookie factory?
      .answer Chelsea Market

%section

  %h2 Round 2

  %ol
    %li.question
      The film <i>2001: A Space Odyssey</i> is based on a novel by what sci-fi author?
      .answer Arthur C. Clarke
    %li.question
      Name either of the two magazines commonly distributed door-to-door by Jehovah’s Witnesses.
      .answer
        %ul
          %li
            %i The Watchtower
          %li
            %i Awake!
    %li.question
      What are the three longest team names in the four major North American sports leagues, at 12 letters each?
      .answer
        %ul
          %li Diamondbacks
          %li Timberwolves
          %li Trail Blazers
    %li.question
      The coats of arms of Albania, Montenegro, Russia, and Serbia all feature what animal, with what strange mutation?
      .answer Eagle with two heads
    %li.question
      In what cities will the 2016 Democratic and Republican National Conventions be held?
      .answer
        %ul
          %li
            Philadelphia
            %small (DNC)
          %li
            Cleveland
            %small (RNC)
    %li.question
      Fletcherism was a nutrition fad in the early 20th century centered around doing what to one’s food?
      .answer Chewing thoroughly

%section

  %h2 Round 3

  %p
    Name the main U.S. city corresponding to each group of outlying cities or towns.

  %ol
    %li.question
      Amherst; Lockport; Olean
      .answer
        Buffalo, NY
    %li.question
      Annandale; Reston; Rockville
      .answer
        Washington, DC
    %li.question
      Auburn; Everett; Kirkland
      .answer
        Seattle, WA
    %li.question
      Baytown; Pearland; Sugar Land
      .answer
        Houston, TX
    %li.question
      Blaine; Brooklyn Park; Fridley
      .answer
        Minneapolis–St. Paul, MN
    %li.question
      Boulder City; Henderson; Paradise
      .answer
        Las Vegas, NV
    %li.question
      Brisbane; Emeryville; Larkspur
      .answer
        San Francisco, CA
    %li.question
      Carnegie; Monroeville; Mount Lebanon
      .answer
        Pittsburgh, PA
    %li.question
      Carrollton; DeSoto; Richardson
      .answer
        Dallas, TX
    %li.question
      Castle Rock; Centennial; Lakewood
      .answer
        Denver, CO
    %li.question
      Chandler; Glendale; Peoria
      .answer
        Phoenix, AZ
    %li.question
      Chesterfield; Florissant; St. Charles
      .answer
        St. Louis, MO
    %li.question
      Cranston; Johnston; Lincoln
      .answer
        Providence, RI
    %li.question
      Dearborn; Livonia; Troy
      .answer
        Detroit, MI
    %li.question
      Decatur; Dunwoody; Roswell
      .answer
        Atlanta, GA
    %li.question
      Doral; Homestead; Kendall
      .answer
        Miami, FL
    %li.question
      Dundalk; Hunt Valley; Towson
      .answer
        Baltimore, MD
    %li.question
      Edmond; Midwest City; Shawnee
      .answer
        Oklahoma City, OK
    %li.question
      Gretna; Kenner; Slidell
      .answer
        New Orleans, LA
    %li.question
      Independence; Liberty; Shawnee
      .answer
        Kansas City, MO
    %li.question
      Lemon Grove; Oceanside; Vista
      .answer
        San Diego, CA
    %li.question
      Milton; Wakefield; Wilmington
      .answer
        Boston, MA
    %li.question
      Oak Creek; Oconomowoc; Racine
      .answer
        Milwaukee, WI
    %li.question
      Ogden; Orem; West Valley City
      .answer
        Salt Lake City, UT
    %li.question
      Pflugerville; Round Rock; San Marcos
      .answer
        Austin, TX


%section

  %h2 Round 4

  %ol
    %li.question
      The expression “to pull out all the stops” originated as a reference to what musical instrument?
      .answer Pipe organ
    %li.question
      What type of professional is the most likely to make use of a Snellen chart?
      .answer Optometrist
    %li.question
      What fictional character is the personification of England, similar to Uncle Sam in the United States?
      .answer John Bull
    %li.question
      Who was the first President to travel outside the United States while in office?
      .answer Theodore Roosevelt
    %li.question
      In horse breeding, what are the specific terms for the stallion and mare who are the parents of a horse?
      .answer
        Sire
        %small and
        dam
    %li.question
      What do the movies <i>Ishtar</i>, <i>The Piano</i>, <i>Wayne’s World</i>, and <i>American Psycho</i> have in common?
      .answer
        They were all directed by women
        %small (<i>Ishtar</i> by Elaine May; <i>The Piano</i> by Jane Campion; <i>Wayne’s World</i> by Penelope Spheeris; <i>American Psycho</i> by Mary Harron)

%section

  %h2 Round 5

  %ol
    %li.question
      The Hindu god Hanuman has the appearance of what type of animal?
      .answer Monkey
    %li.question
      What TV series co-created by Steven Bochco ran for 11 episodes in 1990 and was dubbed by <i>TV Guide</i> “the single most bizarre TV musical of all time”?
      .answer
        %i Cop Rock
    %li.question
      The Victoria Cross was originally created to honor veterans of what war?
      .answer Crimean War
    %li.question
      Gene Kelly’s last film credit was in what infamous 1980 flop?
      .answer
        %i Xanadu
    %li.question
      Single-coil and humbucker are the two most common types of what?
      .answer Electric guitar pickups
    %li.question
      Who was the last person to serve simultaneously as a player and manager of a Major League Baseball team?
      .answer Pete Rose

%section

  %h2
    Final question
    %small (Category: <em>Universities</em>)

  .question
    What is the only Ivy League university with Hebrew text in its official seal?
    .answer Yale University
