---
title: June 23, 2015
---

%section

  %h2 Round 1

  %ol
    %li.question
      What was the name of the ship on which Charles Darwin visited the Galapagos Islands?
      .answer
        HMS <i>Beagle</i>
    %li.question
      What reality TV program was the top-rated show of the year according to the Nielsen ratings for a record eight straight years?
      .answer
        %i American Idol
        %small (2003–04 through 2010–11)
    %li.question
      What is the most common county name in the United States, shared by 31 states?
      .answer
        Washington County
    %li.question
      Introduced in 1967, Gablinger’s was the first commercial example of what type of beverage?
      .answer
        Light beer
    %li.question
      What San Francisco book store associated with the Beat poetry movement shares its name with a 1931 Charlie Chaplin film?
      .answer
        City Lights
    %li.question
      Distributed for free in the early 2000’s by Radio Shack, the CueCat was a computer accessory designed to do what?
      .answer
        Scan bar codes

%section

  %h2 Round 2

  %ol
    %li.question
      What orange-flavored liqueur is named after a Dutch Caribbean island just off the coast of Venezuela?
      .answer
        Curaçao
    %li.question
      Name either of the two musical acts whose music videos were included on the Windows 95 install CD.
      .answer
        Weezer
        %small (<i>Buddy Holly</i>);
        Edie Brickell
        %small (<i>Good Times</i>)
    %li.question
      What was the last name of Dave the astronaut in <i>2001: A Space Odyssey</i>?
      .answer
        Bowman
    %li.question
      <i>The Onion</i> began publication in 1988 in what U.S. state capital?
      .answer
        Madison, Wisconsin
    %li.question
      For five points each, who are the only two Presidents of the United States to have been sworn into office by a former President?
      .answer
        %ul
          %li Calvin Coolidge
          %li Herbert Hoover
        %small (by William H. Taft, in 1925 and 1929 respectively)
    %li.question
      What brand name in the food industry was meant to sound like it came from the Danish language, although it is in fact totally meaningless?
      .answer
        Häagen-Dazs

%section

  %h2 Round 3

  %p
    Fill in the names of the American Film Institute’s top ten male and female movie stars of all time from their “100 Years — 100 Stars” list, published in 1999. The initials of each actor and actress are provided.

  %h3 Actors
  %ol
    %li.question
      HB
      %span.answer
        Humphrey Bogart
    %li.question
      CG
      %span.answer
        Cary Grant
    %li.question
      JS
      %span.answer
        James Stewart
    %li.question
      MB
      %span.answer
        Marlon Brando
    %li.question
      FA
      %span.answer
        Fred Astaire
    %li.question
      HF
      %span.answer
        Henry Fonda
    %li.question
      CG
      %span.answer
        Clark Gable
    %li.question
      JC
      %span.answer
        James Cagney
    %li.question
      ST
      %span.answer
        Spencer Tracy
    %li.question
      CC
      %span.answer
        Charlie Chaplin

  %h3 Actresses
  %ol
    %li.question
      KH
      %span.answer
        Katharine Hepburn
    %li.question
      BD
      %span.answer
        Bette Davis
    %li.question
      AH
      %span.answer
        Audrey Hepburn
    %li.question
      IB
      %span.answer
        Ingrid Bergman
    %li.question
      GG
      %span.answer
        Greta Garbo
    %li.question
      MM
      %span.answer
        Marilyn Monroe
    %li.question
      ET
      %span.answer
        Elizabeth Taylor
    %li.question
      JG
      %span.answer
        Judy Garland
    %li.question
      MD
      %span.answer
        Marlene Dietrich
    %li.question
      JC
      %span.answer
        Joan Crawford

  .question
    %em Bonus:
    Who are the only two winners of the Best Actor Academy Award to share the same last name?
    .answer
      %ul
        %li Dustin Hoffman
        %li Philip Seymour Hoffman

%section

  %h2 Round 4

  %ol
    %li.question
      The avocado gets its name from an indigenous Central American word for what body part?
      .answer
        Testicle
    %li.question
      How many players form each side in a game of cricket?
      .answer
        11
    %li.question
      The USS <i>Pueblo</i>, although still a commissioned US naval vessel, has been held captive since 1968 by what country?
      .answer
        North Korea
    %li.question
      What is the only U.S. state with an official state flavor?
      .answer
        Vermont
        %small (the flavor, of course, is maple)
    %li.question
      What type of cooking oil made from rapeseed plants has a name that was originally a trademark in the 1970s but is now a generic term?
      .answer
        Canola oil
    %li.question
      For three points each, what five letters have never been used for subway lines in New York City?
      .answer
        %ul
          %li I
          %li O
          %li P
          %li U
          %li Y

%section

  %h2 Round 5

  %ol
    %li.question
      Where on the human body would you find the sclera?
      .answer
        The eye
    %li.question
      What product is made by a cordwainer?
      .answer
        Shoes
    %li.question
      What now-defunct company owned the naming rights for the Houston Astros’ ballpark when it opened in April 2000?
      .answer
        Enron
    %li.question
      What cookie, first produced in Cambridge, Massachusetts in 1891, was named for another Boston-area city?
      .answer
        Fig Newton
    %li.question
      The New York State Thruway system is officially named after whom?
      .answer
        Governor Thomas E. Dewey
    %li.question
      Waco, Texas is the home of a museum devoted to what beverage?
      .answer
        Dr Pepper

%section

  %h2
    Final question
    %small (Category: <em>Television</em>)

  .question
    Art Clokey is most well-known for creating what television character in 1953?
    .answer
      Gumby
