---
title: March 17, 2015
---

%section

  %h2 Round 1

  %ol
    %li.question
      What restaurant chain offers a menu item called the Rooty Tooty Fresh ’N Fruity?
      .answer IHOP
    %li.question
      What seven-letter word meaning “health” in Irish Gaelic is commonly used as a toast?
      %em Correct spelling required!
      .answer Sláinte
    %li.question
      The Fields Medal is a prize awarded every four years in what academic area?
      .answer Mathematics
    %li.question
      What was the original name of JFK Airport in New York City?
      .answer
        Idlewild Airport
        %small (also acceptable: Major General Alexander E. Anderson Airport)
    %li.question
      What six team names are used by multiple teams in the four major North American sports leagues?
      .answer
        %ul
          %li
            Cardinals
            %small (Arizona NFL, St. Louis MLB)
          %li
            Giants
            %small (New York NFL, San Francisco MLB)
          %li
            Jets
            %small (New York NFL, Winnipeg NHL)
          %li
            Kings
            %small (Los Angeles NHL, Sacramento NBA)
          %li
            Panthers
            %small (Carolina NFL, Florida NHL)
          %li
            Rangers
            %small (New York NHL, Texas MLB)
    %li.question
      At what type of event would you be most likely to hear a piece of classical music called “Entrance of the Gladiators”?
      .answer
        The circus
        %small (<a href="https://www.youtube.com/watch?v=_B0CyOAO8y0">heard here</a>)

%section

  %h2 Round 2

  %ol
    %li.question
      What naval rank is also a term for a flag identifying the nationality of a ship?
      .answer Ensign
    %li.question
      What is the name of the Dublin brewery founded in 1759 that produces Guinness Stout?
      .answer St. James’s Gate Brewery
    %li.question
      Who is the only female historical figure to appear on a U.S. state quarter, and on which state quarter does she appear?
      .answer
        Helen Keller; Alabama
    %li.question
      The 1993 Ice Cube song “It Was a Good Day” mentions an NBA game between what two teams?
      .answer
        %ul
          %li Los Angeles Lakers
          %li Seattle SuperSonics
    %li.question
      What make and model of car was the General Lee from <i>The Dukes of Hazzard</i>?
      .answer Dodge Charger
    %li.question
      What 2012 movie set the all-time record for opening weekend revenues at over $207 million?
      .answer
        %i Marvel’s The Avengers

%section

  %h2 Round 3

  %p
    Answer each of the crossword-style clues below. All answers are four letters long.

  %ol
    %li.question
      Sean Astin title role
      .answer Rudy
    %li.question
      Wax-coated Dutch cheese
      .answer Edam
    %li.question
      National language of Pakistan
      .answer Urdu
    %li.question
      The Bell HU–1A, informally
      .answer Huey
    %li.question
      Gorilla who speaks sign language
      .answer Koko
    %li.question
      11 West 53rd Street in Manhattan
      .answer MoMA
    %li.question
      Kareem Abdul-Jabbar alma mater
      .answer UCLA
    %li.question
      Penguin from the Sunday funnies
      .answer Opus
    %li.question
      Michael Caine’s big break
      .answer Zulu
    %li.question
      Montreal hockey team, informally
      .answer Habs
    %li.question
      1940s Japanese prime minister
      .answer Tōjō
    %li.question
      City formerly called Christiania
      .answer Oslo
    %li.question
      They brought us Sharknado
      .answer Syfy
    %li.question
      Southern neighbor of Libya
      .answer Chad
    %li.question
      Helmsman Hikaru
      .answer Sulu
    %li.question
      1979 album by Fleetwood Mac
      .answer
        %i Tusk
    %li.question
      Sega Genesis cetacean
      .answer Ecco
    %li.question
      1958 Best Picture musical
      .answer
        %i Gigi
    %li.question
      Agent Lana of Archer
      .answer Kane
    %li.question
      Patton Oswalt animated role
      .answer Remy
    %li.question
      Rare combo of four showbiz awards
      .answer EGOT
    %li.question
      Heidi Klum’s ex-husband
      .answer Seal
    %li.question
      Venetian noble or Internet meme
      .answer Doge
    %li.question
      1948 Alfred Hitchcock film
      .answer Rope
    %li.question
      Guinness record goal scorer
      .answer Pelé

%section

  %h2 Round 4

  %ol
    %li.question
      What does the Brix scale measure?
      .answer Concentration of sugar solutions
    %li.question
      In 1923, what poet became the first Irish winner of the Nobel Prize?
      .answer William Butler Yeats
    %li.question
      What does “DC” in “DC Comics” stand for?
      .answer Detective Comics
    %li.question
      What are the only two NFL teams to play each other in the Super Bowl in back-to-back seasons?
      .answer
        %ul
          %li Buffalo Bills
          %li Dallas Cowboys
        %small Super Bowls XXVII (January 31, 1993) and XXVIII (January 30, 1994)
    %li.question
      What was the most recent film produced outside the United States to win the Oscar for Best Picture?
      %small (Referring to the nationality of the production company, not to filming locations or the like.)
      .answer
        %i The Artist
    %li.question
      What were the code names of the five beachheads of the D-Day invasion?
      .answer
        %ul
          %li Gold
          %li Juno
          %li Omaha
          %li Sword
          %li Utah

%section

  %h2 Round 5

  %ol
    %li.question
      At the 44th Academy Awards in 1972, what honorary Oscar awardee received a 12-minute standing ovation, the longest in Oscar history?
      .answer Charlie Chaplin
    %li.question
      Ireland was known to the ancient Romans by what Latin name?
      .answer Hibernia
    %li.question
      What microscopic unit of measurement, equal to a tenth of a nanometer, is also the last name of a character in several John Updike novels?
      .answer Angstrom
    %li.question
      What chain of pizzerias was founded in 1977 by Nolan Bushnell, one of the co-founders of Atari?
      .answer Chuck E. Cheese’s
    %li.question
      What city did London surpass in the mid-19th century as the largest city in the world?
      .answer Beijing
    %li.question
      AT&T is being removed from the Dow Jones Industrial Average later this week. What stock is replacing it?
      .answer Apple

%section

  %h2
    Final question
    %small (Category: <em>Cocktails</em>)

  .question
    What notoriously labor-intensive cocktail is named after the New Orleans bartender who invented it in 1888?
    .answer Ramos gin fizz
