---
title: March 29, 2016
---

%section

  %h2 Round 1

  %ol
    %li.question
      In physics, what letter of the alphabet is generally used to represent the speed of light?
      .answer C
    %li.question
      What position player in what sport would wear what are known colloquially as “the tools of ignorance”?
      .answer Catcher, in baseball
    %li.question
      Among living film directors, who has the most Oscar nominations for Best Director, with eight?
      .answer Martin Scorsese
    %li.question
      What does “Necco” (the company that manufactures, among other candies, Necco Wafers) stand for?
      .answer New England Confectionery Company
    %li.question
      The Louisiana State Penitentiary is nicknamed after what African country?
      .answer Angola
    %li.question
      Name the five counties corresponding to the five boroughs of New York City.
      .answer
        %ul
          %li
            New York
            %small (Manhattan)
          %li
            Kings
            %small (Brooklyn)
          %li Queens
          %li Bronx
          %li
            Richmond
            %small (Staten Island)

%section

  %h2 Round 2

  %ol
    %li.question
      What color’s name is taken from the name of a small freshwater bird whose plumage it resembles?
      .answer
        Teal
        %small (after the <a href="https://en.wikipedia.org/wiki/Eurasian_teal">common teal</a>)
    %li.question
      14 North Moore Street in the Tribeca neighborhood of Manhattan is most notable for its use in what movie franchise?
      .answer
        %i Ghostbusters
        %small (<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Ghostbusters_Firehouse_crop.jpg/1165px-Ghostbusters_Firehouse_crop.jpg">photo</a>)
    %li.question
      What is the largest U.S. state, by population, without a team in one of the four major North American sports leagues?
      .answer Virginia
    %li.question
      What song that reached the Billboard #1 spot in 1965 takes most of its lyrics from the Old Testament book of Ecclesiastes?
      .answer
        %i Turn! Turn! Turn! (To Everything There Is a Season)
    %li.question
      What item is missing from this group: Ceres, Haumea, Makemake, and Eris?
      .answer
        Pluto
        %small (<a href="https://en.wikipedia.org/wiki/Dwarf_planet">dwarf planets</a> recognized by the International Astronomical Union)
    %li.question
      What are the five levels of nobility in the British peerage system?
      .answer
        %ul
          %li
            Duke
            %small (highest-ranking)
          %li Marquess
          %li Earl
          %li Viscount
          %li
            Baron
            %small (lowest-ranking)

%section

  %h2 Round 3

  %p
    Given each Weird Al Yankovic parody song title, give the original song title and the name of the artist or band who recorded it.

  %ol
    %li.question
      %i Amish Paradise
      .answer
        %i Gangsta’s Paradise
        %small by
        Coolio
    %li.question
      %i Foil
      .answer
        %i Royals
        %small by
        Lorde
    %li.question
      %i Gump
      .answer
        %i Lump
        %small by
        The Presidents of the United States of America
    %li.question
      %i Handy
      .answer
        %i Fancy
        %small by
        Iggy Azalea
    %li.question
      %i I Think I’m a Clone Now
      .answer
        %i I Think We’re Alone Now
        %small by
        Tiffany
    %li.question
      %i I Want a New Duck
      .answer
        %i I Want a New Drug
        %small by
        Huey Lewis and the News
    %li.question
      %i It’s All About the Pentiums
      .answer
        %i It’s All About the Benjamins
        %small by
        Puff Daddy
    %li.question
      %i Jurassic Park
      .answer
        %i MacArthur Park
        %small by
        Richard Harris
    %li.question
      %i My Bologna
      .answer
        %i My Sharona
        %small by
        The Knack
    %li.question
      %i Perform This Way
      .answer
        %i Born This Way
        %small by
        Lady Gaga
    %li.question
      %i Pretty Fly for a Rabbi
      .answer
        %i Pretty Fly for a White Guy
        %small by
        The Offspring
    %li.question
      %i Ricky
      .answer
        %i Mickey
        %small by
        Toni Basil
    %li.question
      %i Spam
      .answer
        %i Stand
        %small by
        R.E.M.
    %li.question
      %i Tacky
      .answer
        %i Happy
        %small by
        Pharrell Williams
    %li.question
      %i The Rye or the Kaiser
      .answer
        %i The Eye of the Tiger
        %small by
        Survivor
    %li.question
      %i The White Stuff
      .answer
        %i You Got It (The Right Stuff)
        %small by
        New Kids on the Block
    %li.question
      %i Trapped in the Drive-Thru
      .answer
        %i Trapped in the Closet
        %small by
        R. Kelly
    %li.question
      %i White & Nerdy
      .answer
        %i Ridin’
        %small by
        Chamillionaire
    %li.question
      %i Word Crimes
      .answer
        %i Blurred Lines
        %small by
        Robin Thicke
    %li.question
      %i Yoda
      .answer
        %i Lola
        %small by
        The Kinks

%section

  %h2 Round 4

  %ol
    %li.question
      Who was the first woman to receive a Best Actress Oscar nomination for a role in a science fiction film?
      .answer Sigourney Weaver
    %li.question
      What is the anatomical term used by cheesemakers for the holes in certain types of cheese, such as Swiss?
      .answer Eyes
    %li.question
      What sports league’s championship trophy is called the Grey Cup?
      .answer Canadian Football League
    %li.question
      What U.S. state quarter features the first-ever depiction of royalty on any circulating U.S. coin?
      .answer
        Hawaii
        %small (depicting <a href="http://www.statequarterguide.com/2008-hawaii-state-quarter/">Kamehameha I</a>)
    %li.question
      In Greek and Roman times, costly purple dye reserved for the garments of the aristocracy was derived from what animal?
      .answer Sea snail
    %li.question
      %em Guesstimation:
      How many stations are there in the New York City subway system (not including the Staten Island Railway)?
      .answer 469

%section

  %h2 Round 5

  %ol
    %li.question
      What is the largest commercial passenger airport, by land area, in the United States?
      .answer
        Denver International Airport
        %small (53 square miles)
    %li.question
      From 1309 to 1377, the Roman Catholic Papacy was based not in Rome but in what French city?
      .answer Avignon
    %li.question
      According to the U.S. Census, what state has the highest percentage of residents who speak a language other than English at home?
      .answer
        California
        %small (estimated 43.8% in 2013)
    %li.question
      Which of the remaining schools in this year’s NCAA men’s basketball tournament is the oldest?
      .answer
        University of North Carolina
        %small (chartered 1789)
    %li.question
      What constellation appears on the flags of Australia and New Zealand?
      .answer Southern Cross
    %li.question
      In the comic strip <i>Calvin and Hobbes</i>, what was the name of Calvin’s imaginary alter-ego as a space adventurer?
      .answer Spaceman Spiff

%section

  %h2
    Final question
    %small (Category: <em>Games</em>)

  .question
    The best-selling pinball machine of all time was based on what 1991 comedy film?
    .answer
      %i The Addams Family
      %small (over 20,000 machines sold)
